*{
	margin:0;
	font-family: 'Roboto', sans-serif;
}
body{
	background-color:#FAFAFA;
	font-size: 24px;
}
h1{
	font-size: 68px;
	font-family: 'Pacifico', cursive;
}
.c-1{
	background-color:#FAFAFA;
	margin-top: 60px;
	height: auto;
	width: auto;
}
.c-2{
	background-color:#F5D62F;
	height: 150px;
}
.margen{
	margin-right: 8px;
	margin-left: 8px;
}
.tam-1{
	font-size: 24px;
}
.alert{
	width: 200px;
	margin-right: auto;
	margin-left: auto;
}
